<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}">Erro</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container" style="padding:40px 0">
        <h1 class="text-danger" th:text="${titulo}">Erro</h1>
        <p class="lead" th:text="${mensagem}">Ocorreu um erro inesperado.</p>
        <p><a class="pill" th:href="@{/home}">Voltar ao início</a></p>
    </div>
</div>
</body>
</html>
